*
{
    box-sizing: border-box;
}

html
{
    font-family: $font-main;
    font-size: $font-size;

    overflow-y: scroll;

    letter-spacing: .1em;

    color: $color-gray;
}

h1
{
    font-family: $font-header;
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2;

    text-align: center;
    letter-spacing: .08em;

    @include lg-min
    {
        font-size: 3.75rem;
    };
    @include lg-md
    {
        font-size: 2.5rem;
    };
    @include lg
    {
        font-size: 1.875rem;
    };
}

a
{
    text-decoration: none;

    color: $color-light;
}

.btn
{
    display: block;
    transition: background-color .5s;
    text-align: center;
    letter-spacing: 0.1em;

    &:hover,
    &:focus
    {
        background-color: $color-accent;
    }
}

.btn--light
{
    border: 2px solid $color-light;
    background-color: rgba(255, 255, 255, .1);

    @include lg-min
    {
        font-size: 1.125rem;

        min-width: 250px;
        height: 60px;
        padding: 18px $gap;
    }
    @include lg-md
    {
        min-width: 200px;
        height: 60px;
        padding: 14px $gap;
    }
    @include md
    {
        min-width: 170px;
        height: 40px;
        padding: 9px $gap;
    }
}

.btn--primary
{
    font-size: 1.125rem;

    height: 60px;
    padding: 18px $gap;

    border: 2px solid $color-primary;
    background-color: rgba(45, 54, 81, .8);

    @include sm-min
    {
        min-width: 350px;
    }
    @include sm
    {
        width: 100%;
    }
}
